recursive-include rtpproxy *
recursive-include openssl *
recursive-include libsrtp *
include python/build_rtpproxy.sh python/symbols.map python/rtpproxy_mod.h
include build_tools/CheckVersion.py build_tools/__init__.py
